In [1]:
# %pip install matplotlib
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

Requirement already satisfied: matplotlib in c:\users\nikoe\anaconda3\lib\site-packages (3.4.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\nikoe\anaconda3\lib\site-packages (from matplotlib) (8.2.0)
Requirement already satisfied: numpy>=1.16 in c:\users\nikoe\anaconda3\lib\site-packages (from matplotlib) (1.19.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\nikoe\anaconda3\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\nikoe\anaconda3\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\nikoe\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\nikoe\anaconda3\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: six in c:\users\nikoe\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [8]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [13]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [14]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [15]:
# Save references to each table
Measurement = Base.classes.measurement
Sations = Base.classes.station

In [17]:
# Create our session (link) from Python to the DB
s = Session(bind = engine)

# Exploratory Precipitation Analysis

In [32]:
from sqlalchemy import Column, Integer, String, Float

In [38]:
# Find the most recent date in the data set.
recent_date = s.query(Measurement).order_by('desc'(Measurement.date)).first()
print(f"the most recent date in the data set is {recent_date}")

<>:2: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<ipython-input-38-c438512e703c>:2: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  recent_date = s.query(Measurement).order_by('desc'(Measurement.date)).first()

TypeError: 'str' object is not callable

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.


# Perform a query to retrieve the data and precipitation scores


# Save the query results as a Pandas DataFrame and set the index to the date column


# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
s.close()